<launch>

    
    
    
    <!-- <include file="$(find ddom)/launch/sentor.launch"> -->
     <!-- <arg name="config_file" value="$(find ddom)/config/sentor.yaml"/> -->
    <!-- </include>     -->
    <rosparam file="$(find ddom)/config/config.yaml"/>
    <node pkg="tracker" type="bb_converter.py" name="bb_node"/>
    <node pkg="tracker" type="tracker_node.py" name="tracker_node"/>
    <!-- <node pkg="anomaly_detector" type="ad.py" name="ad_node"/> -->
    <node pkg="fn_detector" type="fn_node.py" name="fn_node"/>



</launch>